<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="login" th:action="@{/login}" method="post" th:object="${usuario}">
        <p>
            E-mail: <input type="email" name="email" required />
        </p>
        <p>
            Senha: <input type="password"  name="senha" required />
        </p>
        <p>
            <input type="submit" value="Login" />
        
        </p>
        <p class="link">  
            <a href="cadastrar.html" th:href="@{/cadastrar}"> cadastre-se</a>
        </p>
    </form>
</body>
</html>