<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post" th:object="${usuario}">
        <p>
            E-mail: <input type="email" th:field="*{email}" name="email" required />
        </p>
        <p>
            Senha: <input type="password" th:field="*{senha}" name="senha" required />
        </p>
        <p>
            <input type="submit" value="Login" />
            <a href="cadastrar.html" th:href="@{cadastrar}"> cadastre-se</a>
        </p>
    </form>
</body>

</html>